<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Favorite Songs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>

  <div class="banner">
    <a href="https://github.com/bbolton1/486-Sobie-Profile-Brayden" target="_blank">
      GitHub Repo
    </a>
    |
    <a href="https://validator.nu/?doc=https%3A%2F%2Ffour86-sobie-profile-brayden-1.onrender.com%2F" target="_blank">
      Validator <!-- Only issue is Spotify's code. Not about to mess with that though -->
    </a>
  </div>

  <div class="container">

    <!-- Favorite Songs List -->
    <h1>My Top 5 Favorite Songs</h1>
    <ul class="list-group" id="favorite-songs">
      <li class="list-group-item"> 1
        <iframe style="border-radius:12px"
          src="https://open.spotify.com/embed/track/2vlFd6wPsR3xvWPCOE0dQt?utm_source=generator" width="100%"
          height="80" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </li>
      <li class="list-group-item"> 2
        <iframe style="border-radius:12px"
          src="https://open.spotify.com/embed/track/3Jl5GohfNwozDmpzmQBLDI?utm_source=generator" width="100%"
          height="80" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </li>
      <li class="list-group-item"> 3
        <iframe style="border-radius:12px"
          src="https://open.spotify.com/embed/track/4wCMKxkE3eMOTtlAx0NFEM?utm_source=generator" width="100%"
          height="80" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </li>
      <li class="list-group-item"> 4
        <iframe style="border-radius:12px"
          src="https://open.spotify.com/embed/track/6i4Qi1mJxXjqNIL9HfJhRs?utm_source=generator" width="100%"
          height="80" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </li>
      <li class="list-group-item"> 5
        <iframe style="border-radius:12px"
          src="https://open.spotify.com/embed/track/0FVDva1nGzMI4IFhb5vrBq?utm_source=generator" width="100%"
          height="80" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </li>
    </ul>

    <h2 class="mt-5">Please Recommend Me A Song!</h2>
    <h5 class="mt-6">Hover over songs that are too long to view normally</h5>
    <!-- Add -->
    <div class="d-flex justify-content-center">
      <div class="input-group mb-3 w-25">
        <form action="/insert" method="POST">
          <input type="text" name="recommendedSongName" id="song-input-field" class="form-control"
            placeholder="Enter a song" required>
          <button class="btn btn-primary" type="submit">Add Song</button>
        </form>
      </div>
    </div>

    <h2>Recommended Songs</h2>
    <ul class="list-group mt-3 text-center" id="recommended-songs">
      <% recommendedSongs.forEach(song=> { %>
        <li class="list-group-item d-flex align-items-center"
          style="display: flex; justify-content: space-between; overflow: hidden;">

          <span class="text-truncate"
            style="max-width: 35%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
            title="<%= song.song_name %>"> <!-- Needed to prevent content overflow from container -->
            <%= song.song_name %>
          </span>

          <!-- Update -->
          <form action="/update" method="POST" class="d-flex align-items-center flex-grow-1 justify-content-center"
            style="max-width: 50%;">
            <input type="hidden" name="songId" value="<%= song._id %>">
            <input type="text" name="songName" value="<%= song.song_name %>"
              class="form-control form-control-sm text-center mx-2" style="width: 150px;" maxlength="50" required>
            <button type="submit" class="btn btn-warning btn-sm">Update</button>
          </form>

          <!-- Delete -->
          <form action="/delete" method="POST" style="margin-left: 10px;">
            <input type="hidden" name="deleteId" value="<%= song._id %>">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </li>
        <% }) %>
    </ul>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js'></script>
    <script src="scripts/script.js"></script>
  </div>

  <div class="mt-5 p-4 text-center">
    <footer>
      <a href="https://github.com/barrycumbie/turbo-potato-sobie-profile/milestone/2" target="_blank">Instructions</a>
      |
      <!-- no way this ain't a rick roll right? -->
      <a href="https://youtu.be/z6Y4_jigI-4?si=_jy2VqVjQHlXjVGc" target="_blank">Honorable Mention</a>
      |
      <a href="https://github.com/bbolton1" target="_blank">Brayden Bolton</a>
    </footer>
  </div>
</body>

</html>
